
*~
# Archivos del sistema
# Archivos de trabajo personal
# Archivos temporales
cosas por ver meraki.txt
desktop.ini
.DS_Store
# Editores
.idea/
*.log
node_modules/
# Node modules (por si en el futuro agregas herramientas)
*.swo
*.swp
Thumbs.db
*.tmp
.vercel
.vscode/
